.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.myproject {
   position: relative;
}
.myproject h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.myproject img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.myproject_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.myproject_container img {
    width: 419px;
    box-sizing: border-box;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.myproject_container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}